*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.MENU{
    font-size: 35px;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    line-height: 50px;
    padding: 10px 0;
}

.navbar a {
    position: relative;
    font-size: 20px;
    color: #000000;
    font-weight:  500px; 
    text-decoration:none; 
    margin-left:40px;


}

.navbar a::before{
    content:"";
    position:absolute;
    top: 100%;
    left:0;
    width:0;
    height: 2px;
    background:#000000;
    transition: .3s;
}

.navbar a:hover::before{
    width:100%
 }

 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

